<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StatusMapper">
	
	<insert id="insert" parameterType="status">
		INSERT INTO STATUS VALUES (#{car_id},#{car_num},#{driver_name},
		#{driver_home},#{car_x},#{car_y},#{car_temper},#{car_humid},
		#{car_pic},#{car_impact},#{current_time})	
	</insert>
	
	<!-- <update id="update" parameterType="cart">
		UPDATE CART_TB SET PWD=#{pwd},NAME=#{name} WHERE ID=#{id}
	</update> -->
	
	<delete id="delete" parameterType="String">
		DELETE FROM STATUS WHERE car_id=#{car_id}
	</delete>
	
	<select id="select" parameterType="String" resultType="status">	
		SELECT * FROM STATUS WHERE car_id=#{car_id}	
	</select>
	
	<select id="selectall" resultType="status">
		SELECT * FROM STATUS
	</select>
	
	<select id="selectpos" parameterType="String" resultType="status">
	  SELECT s.CAR_ID,s.CAR_X, s.CAR_Y
      FROM ORDER_TB o, DELIVERY d, STATUS s
      WHERE o.ORDER_ID=d.ORDER_ID AND
      d.CAR_ID=s.CAR_ID AND
      o.ORDER_ID=#{order_id}
    </select>

	
</mapper>


